:root {
  --verydarkblue: hsl(235, 21%, 11%);
  --verydarkdesaturatedblue: hsl(235, 24%, 19%);
  --lightgrayishblue: hsl(234, 39%, 85%);
  --lightgrayishblue2: hsl(236, 33%, 92%);
  --darkgrayishblue: hsl(234, 11%, 52%);
  --verydarkgrayishblue: hsl(233, 14%, 35%);
  --verygrayishblue: hsl(237, 14%, 26%);
  --brightblue: hsl(220, 98%, 61%);
  --checkbackground: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  --verylightgray: hsl(0, 0%, 98%);
  --verylightgrayishblue: hsl(236, 33%, 92%);
  --lightgrayishbluewhite: hsl(233, 11%, 84%);
  --darkgrayishbluewhite: hsl(236, 9%, 61%);
  --verydarkgrayishbluewhite: hsl(235, 19%, 35%);
}

body {
  background-color: var(--verydarkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

span {
  display: inline-block;
}

body::before {
  content: " ";
  position: absolute;
  background-image: url("images/bg-desktop-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -50px;
  width: 100vw;
  height: 400px;
  z-index: -1;
}

.body-white {
  background-color: var(--verylightgrayishblue);
}

.body-white::before {
  content: " ";
  position: absolute;
  background-image: url("images/bg-desktop-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -50px;
  width: 100vw;
  height: 400px;
  z-index: -1;
}

.container {
  width: 800px;
  height: 100%;
}

.drag {
  text-align: center;
  margin-top: 60px;
}

header {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 15px;
  color: var(--lightgrayishblue2);
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img:hover {
  cursor: pointer;
}

.todo {
  height: 80px;
  background-color: var(--verydarkdesaturatedblue);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.todo-white {
  background-color: var(--verylightgray);
}

.todo-white input[type="checkbox"] {
  border: 2px solid var(--verylightgrayishblue);
}

.todo-white input[type="checkbox"]:disabled:hover {
  border: 2px solid var(--verylightgrayishblue);
}

.todo-white input[type="text"] {
  color: var(--verydarkgrayishbluewhite);
}

input[type="checkbox"] {
  appearance: none;
  background-color: none;
  margin: 30px;
  width: 30px;
  height: 30px;
  border: 2px solid var(--verygrayishblue);
  border-radius: 50px;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  background: linear-gradient(var(--verydarkdesaturatedblue) 0 0) padding-box, linear-gradient(330deg, hsl(280, 87%, 65%), hsl(192, 100%, 67%)) border-box;
  border: 2px solid transparent;
}

input[type="checkbox"]:checked {
  background: linear-gradient(330deg, hsl(280, 87%, 65%), hsl(192, 100%, 67%)) border-box;
  border: 2px solid transparent;
}

input[type="checkbox"]:checked::before {
  content: " ";
  width: 27px;
  height: 27px;
  background-image: url("images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  position: absolute;
}

input[type="checkbox"]:disabled:hover {
  border: 2px solid var(--verygrayishblue);
  background: none;
  cursor: auto;
}

input[type="text"] {
  height: 30px;
  font-size: 20px;
  width: 75%;
  background: none;
  border: none;
  color: var(--lightgrayishblue);
  font-weight: 400;
  caret-color: var(--brightblue);
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: var(--darkgrayishblue);
}

.list {
  margin-top: 40px;
}

.border {
  border-radius: 5px 5px 0px 0px;
}

.list__record {
  font-size: 20px;
  color: var(--lightgrayishblue);
  height: 80px;
  background-color: var(--verydarkdesaturatedblue);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--verydarkgrayishblue);
  cursor: pointer;
}

.list__record-white {
  background-color: var(--verylightgray);
  color: var(--verydarkgrayishbluewhite);
  border-bottom: 1px solid var(--verylightgrayishblue);
}

.list__record-white input[type="checkbox"]:checked + p {
  color: var(--lightgrayishbluewhite) !important;
}

.list__record-white input[type="checkbox"] {
  border: 2px solid var(--verylightgrayishblue);
}

.list__record-white input[type="checkbox"]:hover {
  background: linear-gradient(var(--verylightgray) 0 0) padding-box, linear-gradient(330deg, hsl(280, 87%, 65%), hsl(192, 100%, 67%)) border-box;
  border: 2px solid transparent;
}

.list__record-white input[type="checkbox"]:checked {
  background: linear-gradient(330deg, hsl(280, 87%, 65%), hsl(192, 100%, 67%)) border-box;
  border: 2px solid transparent;
}

.list__record-white input[type="checkbox"]:disabled:hover {
  border: 2px solid var(--verylightgrayishblue);
  background: none;
  cursor: auto;
}

.list__record img {
  margin: 30px;
  display: none;
}

.list__record:hover img {
  display: inline-block;
  cursor: pointer;
}

.list__record p {
  margin-top: 23px;
  width: 80%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.list__record input[type="checkbox"]:checked + p {
  text-decoration: line-through;
  color: var(--verydarkgrayishblue);
}

.tools {
  box-sizing: border-box;
  color: var(--verydarkgrayishblue);
  height: 50px;
  background-color: var(--verydarkdesaturatedblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  border-radius: 0px 0px 5px 5px;
}

.tools-white {
  background-color: var(--verylightgray);
  color: var(--darkgrayishbluewhite);
}

.tools button {
  background: none;
  border: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  color: var(--verydarkgrayishblue);
  font-size: 15px;
}

.tools button:hover {
  color: var(--lightgrayishblue2);
  cursor: pointer;
}

.tools button:disabled:hover {
  color: var(--verydarkgrayishblue);
  cursor: auto;
}

.tools__sort button:focus {
  color: var(--brightblue);
}

.tools__sort__selected {
  color: var(--brightblue) !important;
}

.tools__sort {
  display: flex;
  gap: 10px;
}

.tools-white button {
  color: var(--darkgrayishbluewhite);
}

.tools-white button:hover {
  color: var(--verydarkgrayishbluewhite);
}

.drag {
  color: var(--verydarkgrayishblue);
  font-weight: bold;
}

.drag-white {
  color: var(--darkgrayishbluewhite);
}

.example {
  color: var(--verydarkgrayishblue);
}

footer {
  height: 50px;
  position: absolute;
  top: 254px;
  color: var(--lightgrayishblue2);
}

footer a {
  color: var(--brightblue);
  text-decoration: none;
}

.hidden_by_sort,
.hidden {
  display: none;
}

#noRecords {
  color: var(--verydarkgrayishblue);
}

.drag__content {
  -webkit-box-shadow: 0px 0px 40px 5px var(--brightblue);
  -moz-box-shadow: 0px 0px 40px 5px var(--brightblue);
  box-shadow: 0px 0px 40px 5px var(--brightblue);
}

.drag__record__down::before {
  content: " ";
  position: absolute;
  background-color: rgba(89, 131, 252, 0);
  background-image: linear-gradient(180deg, rgba(89, 131, 252, 0) 80%, rgba(59, 113, 253, 1) 100%);
  width: 800px;
  height: 80px;
}

.drag__record__up::before {
  content: " ";
  position: absolute;
  background-color: rgba(89, 131, 252, 0);
  background-image: linear-gradient(0deg, rgba(89, 131, 252, 0) 80%, rgba(59, 113, 253, 1) 100%);
  width: 800px;
  height: 80px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 860px) {
  .container {
    width: 90vw;
  }

  .list__record p {
    width: 50%;
  }

  input[type="text"] {
    width: 65%;
  }

  .footer {
    text-align: center;
  }

  .tools__sort {
    display: none;
  }

  .mobile {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: var(--verydarkdesaturatedblue);
    margin-top: 20px;
  }

  .mobile-white {
    background-color: var(--verylightgray);
  }

  .mobile-white button {
    color: var(--darkgrayishbluewhite);
  }

  .list div:last-child {
    border-radius: 5px;
  }

  .mobile button {
    background: none;
    border: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    color: var(--verydarkgrayishblue);
    font-size: 15px;
  }

  .mobile button:focus {
    color: var(--brightblue);
  }
}
